@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;625;700&display=swap'); 
* {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 500;
}

body {
    height: 100vh;
    background: #689af7;
}

.header {
    width: 100%;
    margin-bottom: 70px;
}

.header img{
    position: absolute;
    top: 10px;
    left: 30px;
    width: 120px;
    height: 100px;
}

.header h1 {
    position: absolute;
    top: 20px;
    left: 150px;
    color: white;
    font-size: 40px;
    font-weight: 600;
}

#newtask {
    width: 100%;

}

#newtask input{
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 70%;
    max-width: 400px;
    padding-left: 10px;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

#input_field::placeholder {
    color: black;
    opacity: 1;
}

#newtask button{
    cursor: pointer;
    height: 40px;
    width: 60px;
    border: none;
    border-radius: 7px;
    background-color: white;
    font-weight: 600;
}

#tasks{
    background-color: #689af7;
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 5px;
}

#tasks li {
    word-wrap: break-word;
    min-height: 40px;
    width: 100%;
    background-color: white;
    border-radius: 7px;
    list-style-type: none;
    padding-left: 16px;
}

.remove {
    width: 70px;
    height: 40px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}